#container
{
    display: flex;
    flex-wrap: wrap;
}
.circle
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 50px;
    cursor: pointer;
    border: 1px solid white;
}
#lavender
{
background-color: lavender;
}
#lightblue
{
background-color: lightblue;
}
#violet
{
background-color: violet;
}
#orange
{
background-color: orange;    
}
#red
{
background-color: red;
}